.main{
    display:flex;
    justify-content:space-between;
}
.items, .search {
text-align: center;
padding-right: 50px;
}

.search input[type="text"] {
width:200px;
padding: 10px; 
}

.search button[type="submit"] {
background-color: green; 
color: white; 
padding: 10px; 
border: none; 
cursor: pointer; 
margin-top:10px ;
width:230px;
}

.img{
width:800px;
height:600px;
padding:20px;
margin-left:20px;
}
.travel{
display: flex;
justify-content:center;
}
